<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask-CKEditor Demo</title>
	<style>
		img {
			max-width:100px
		}
	</style>
</head>
<body>
	<div class="warpper" style="width: 700px; margin: auto">
		<h1>Flask-CKEditor: Blog Post</h1>

		<form method="post">
			<input type="text" name="title" placeholder="Title"><br><br>
			<input type="text" name="postname" placeholder="blogpost3000"><br><br>
<!--			<input type="text" name="date" placeholder="Date"><br><br>-->
			<input type="text" name="tags" placeholder="Tags"><br><br>
			<input type="text" name="snippet" placeholder="Brief description"><br><br>
			<label for="ckeditor">Post</label>
			{{ ckeditor.create() }}<br>
			<input type="submit" value="Submit">
		</form>
	</div>
	{{ ckeditor.load() }}
	{{ ckeditor.config() }}

<!--	<script>-->
<!--		d = new Date()-->
<!--		tmp = document.getElementsByName("date")[0]-->
<!--		tmp.placeholder = d.getFullYear() + "-" + (d.getMonth()+1) + "-" + d.getDate()-->
<!--		tmp.setRangeText("ad",0,0)-->
<!--	</script>-->
</body>
</html>

