
{% extends "base.html"%}

{% block app_content %}
<style>
    .nowli {
        border-left: 6px solid #00b4cc;
        padding-left: 1em;
        margin-bottom: 1em;
    }

    .pastli {
        border-left: 6px solid #014750;
        padding-left: 1em;
        margin-bottom: 1em;
    }
</style>

<div style="display: flex; flex-direction: column; align-items: center; max-width: 600px; margin: 0 auto; padding: 20px;">
    <div>
        {% if startEntry[0]|length > 0 %}
            <div style="display: flex; justify-content: center; width: 100%"><img src="{{ url_for('static', filename=startEntry[0]) }}" style="max-width: 75%; max-height: 50vh; height: auto; width: auto; "></div>
            <br>
        {% endif %}
        <p style="margin-bottom: 20px;">
            I live in {{ startEntry[1] }}, and have been since {{ startEntry[2] }}. I'm currently
        </p>
        {% for entry in startEntry[4:] %}
            <div class="nowli">
                {{ entry|safe }}
            </div>
        {% endfor %}

        {% for entry in pastEntries %}
            <hr>
            {% if entry[0]|length > 0 %}
                <div style="display: flex; justify-content: center; width: 100%"><img src="{{ url_for('static', filename=entry[0]) }}" style="max-width: 75%; max-height: 50vh; height: auto; width: auto; "></div>
                <br>
            {% endif %}
            <p style="margin-bottom: 20px;">
                Before that I lived in {{ entry[1] }} from {{ entry[2] }} to {{ entry[3] }}, where I
            </p>
            {% for entry in entry[4:] %}
                <div class="pastli">
                    {{ entry|safe }}
                </div>
            {% endfor %}
        {% endfor %}

        <hr style="border: none; height: 1px; background: #ddd; margin: 20px 0;">
        <span class="contacticon center">
            <a href="mailto:andykongresearch@gmail.com"><i class="fa fa-envelope-square"></i></a>
            <a href="https://github.com/kongmunist" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://twitter.com/oldestasian" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.youtube.com/channel/UC8hEr0FkB5i-gQC4b7b5fvg" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="https://www.linkedin.com/in/andy-k-99976b92/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.instagram.com/kongmunist/" target="_blank"><i class="fab fa-instagram"></i></a>
            <!-- medium -->
            <a href="https://kongmunist.medium.com/" target="_blank"><i class="fab fa-medium"></i></a>
        </span>
    </div>
</div>


{% endblock %}
