{% extends "base.html" %}

{% block app_content %}
    <div class="row" style = "height:100vh; ">
        <div class="col-3" style=" background:grey;">

<img class="media-object mx-auto d-block rounded-circle" style="margin-bottom:0px;" width="80%" src="{{url_for('static', filename = 'me.png')}}"/>
<h1 class="text-center" style="font-size: 3.5vw;">Hi, I'm Andy!</h1>
<p class="text-center"  style="font-size: 1.7vw;">Computer Science major at Carnegie Mellon</p>


</div>
            <div class="col-9 p-0" style="padding:20px;">
                <div class="container-fluid" style=" padding-top:20px">
                {% block batcontent %}
                {% endblock %}
                    </div>
        </div>
</div>

{% endblock %}