
{% extends "base.html"%}

{% block app_content %}
<style>
    .nowli {
        border-left: 6px solid #00b4cc;
        padding-left: 1em;
        margin-bottom: 1em;
    }

    .pastli {
        border-left: 6px solid #014750;
        padding-left: 1em;
        margin-bottom: 1em;
    }
</style>

<div style="display: flex; flex-direction: column; align-items: center; max-width: 600px; margin: 0 auto; padding: 20px;">
    <div>
        <div style="display: flex; justify-content: center; width: 100%"><img src="{{ url_for('static', filename='andyoq.jpg') }}" style="max-width: 75%; max-height: 50vh; height: auto; width: auto; "></div>

        <br>    
        <p style="margin-bottom: 20px;">
            I live in Cambridge, MA, and have been since June 2024. I'm currently
        </p>
        <div class="nowli">
             building an open-source <a href="https://en.wikipedia.org/wiki/Magneto-optical_trap">MOT</a> to accelerate quantum physics research @ <a href="https://www.open-quantum.org/">Open Quantum</a> (taking orders!) 
        </div>
        <div style="border-left: 6px solid #00b4cc; padding-left: 1em;">
            prototyping a Bluetooth health-sensing ring that charges itself via solar harvesting 
        </div>

        <hr>
        
        <p style="margin-bottom: 20px;">
            Before that I lived in Pittsburgh, PA from January - May 2024, where I
        </p>
        <div class="pastli">
            rejoined the <a href="https://www.figlab.com">Future Interfaces Group</a> @ CMU as a Research Associate
        </div>
        <div class="pastli">
            published a first-author paper at UIST 2024: Power-over-Skin, a technique for transmitting power to battery-free wearables through body contact (<a href="https://dl.acm.org/doi/10.1145/3654777.3676394">paper</a>, <a href="../projects/pos">project</a>)  
        </div>
        





        <hr style="border: none; height: 1px; background: #ddd; margin: 20px 0;">
        <span class="contacticon center">
            <a href="mailto:andykongresearch@gmail.com"><i class="fa fa-envelope-square"></i></a>
            <a href="https://github.com/kongmunist" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://twitter.com/oldestasian" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.youtube.com/channel/UC8hEr0FkB5i-gQC4b7b5fvg" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="https://www.linkedin.com/in/andy-k-99976b92/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.instagram.com/kongmunist/" target="_blank"><i class="fab fa-instagram"></i></a>
            <!-- medium -->
            <a href="https://kongmunist.medium.com/" target="_blank"><i class="fab fa-medium"></i></a>
        </span>
    </div>
</div>


{% endblock %}
