{% extends "base.html" %}

{% block app_content %}
    <div class="row" style = "height:100vh; padding-left:20px; padding-right:10px">
        <div class="col-sm-12 col-lg-3">


<a href="/"> <img class="media-object mx-auto d-block rounded-circle " style="margin-bottom:0px; max-height:20vh;" src="{{url_for('static', filename = 'me.png')}}"/></a>
<h1 class="text-center" style="font-size: 3vw;">Hi, I'm Andy!</h1>
<p class="text-center"  style="font-size: 1.5vw;">CS + HCI at Carnegie Mellon, open for collaboration.</p>

            <div class="links text-center" style="margin:15px; line-height: 2.7; font-size:2vw;">
<a href="https://critiquefood.blogspot.com/" target="_blank" title="Food For Thought"><i class="fas fa-ice-cream fa-2x"></i></a>&nbsp
<a href="https://github.com/kongmunist" target="_blank" title="Github"><i class="fab fa-github-square fa-2x"></i></a>&nbsp
<a href="mailto:andyking99@gmail.com" target="_blank" title="Email"><i class="far fa-paper-plane fa-2x"></i></a>&nbsp
<a href="https://www.youtube.com/channel/UC8hEr0FkB5i-gQC4b7b5fvg" target="_blank" title="YouTube"><i class="fab fa-youtube fa-2x"></i></a>&nbsp
<a href="https://www.instagram.com/kongmunist/" target="_blank" title="Instagram"><i class="fab fa-instagram fa-2x"></i></a>&nbsp
<a href="https://www.linkedin.com/in/andy-k-99976b92/" target="_blank" title="Instagram"><i class="fab fa-linkedin-in fa-2x"></i></a>&nbsp
<a href="https://medium.com/@andyking99" target="_blank" title="Medium"><i class="fab fa-3x fa-medium"></i></a>&nbsp
                </div>
</div>


            <div class="col-xl-7 col-lg-7 col-md-10 col-xs-10 p-0 " style="">
                <div class="container-fluid img-rounded shadow-lg px-4 d-flex " style="padding-top:20px;padding-bottom:20px;  border-radius:20px;

    text-overflow:ellipsis;
    width:100%;
    ">

                {% block batcontent %}
                {% endblock %}
                    </div>
        </div>
</div>

{% endblock %}