<!DOCTYPE html>
<html>
  <head>
    <title>
    Andy Kong.com!
</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style>
body { background: #202222 !important; }

a { color:#00B4CC }

a:hover {
    color:#00dffc;
    text-decoration: none;
}


.text-primary { color:red !important }

.navbar {
    font-size: 30px;
    background-color: #202222;
}
.navitem{
    color:#00dffc !important;
    }
.navitem:hover{
    color:#00b4cc !important;
    text-decoration: none;
    }
</style>

  </head>
  <body style="color:#F8E0CB;">


    <nav class="navbar navbar-expand-lg">
        <!--<div class="container-fluid">-->
        <a class="navbar-brand navitem" href="/">Andy Kong</a>
              <ul class="navbar-nav">

                <li class="nav-item"><a class="navitem nav-link" href="{{ url_for("about") }}">About</a></li>
                <li class="nav-item"><a class="navitem nav-link" href="{{ url_for("mainproject") }}">Projects</a></li>
                <li class="nav-item"><a class="navitem nav-link" href="{{ url_for("mainblog") }}">Blog</a></li>
              </ul>
    </nav>

    <div class="container">
        {% block app_content %}{% endblock %}
    </div>



    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>