{% extends "aboutsidebar.html" %}

{% block meta_content %}
    {% for p in page %}
        <meta name="author" content="Andy Kong">
        <meta name="title" content="{{ p.title }}">
        <meta name="description" content="{{ p.snippet }}">
        <meta name="keywords" content="{% for tag in p.tags %} {{tag}}, {% endfor %}">
    {% endfor %}
{% endblock %}

{% block batcontent %}
<style>
    h1{
  margin-top: 1em;
}
</style>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

        {% for p in page %}


<div class="blogpage overflow-hidden">
    <h1 style="margin-bottom:0px; font-size:2.5em;">{{ p.title }}</h1>
            <p style="font-size:0.8em;"> Published {{ dateconvert(p.meta.date) }}</p>
<hr>
            {{ p.html|safe }}

    {% if p.meta.tags|length %}
        <hr>
        <a class="btn btn-info" href="{{ url_for("tag", tag= p.meta.tags.0  ) }}">{{ p.meta.tags.0 }}</a>

        {% for page_tag in p.meta.tags[1:] %}
            &nbsp;
            <a class="btn btn-info" href="{{ url_for("tag", tag=page_tag) }}">{{page_tag}}</a>
        {% endfor %}
    {% endif %}
</div>

{% endfor %}

{% endblock %}


