{% extends "base.html" %}

{% block meta_content %}
<meta name="author" content="Andy Kong">
<meta name="title" content="{{ page.title }}">
<meta name="description" content="{{ page.description }}">
{% endblock %}


{% block app_content %}



    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 projectpage" style="max-width:1000px;">
        <h1 style="text-center; margin-bottom: 5px">{{ page.title }}</h1>
            <i><p style="margin-bottom: 5px; margin-top: 0px">{{ page.description }}</p></i>
            <p style="margin-bottom: 0px; margin-top: 0px">Timespan: {{ page.timespan }}</p>
            <p style="margin-bottom: 5px; margin-top: 0px">Published: {{page.date}}</p>

            <hr>
        {{ page.html|safe }}
            </div>
        <div class="col-2"></div>
        <p style="line-height:300%;">&nbsp;</p>
</div>
{% endblock %}

