{% extends "base.html" %}

{% block meta_content %}
    <meta name="author" content="Andy Kong">
    <meta name="title" content="{{ page.title }}">
    <meta name="description" content="{{ page.description }}">

<title> {{page.title}} | Andy Kong</title>
{% endblock %}


{% block app_content %}


<!--    <div class="row justify-content-center">-->
<!--<div class="row overflow-hidden" style = "height:100vh; width: 100vw; padding-left:30px; padding-right:0px;">-->
<div class="row overflow-hidden" style = "height:100vh; width: 100vw; padding: 0px 30px 0px 30px;">
        <div class="col-lg-2"></div>
        <div class="col-12 col-lg-8 projectpage" style="max-width:1000px; margin-bottom:4em;">
        <h1 style="text-center; margin-bottom: 5px">{{ page.title }}</h1>
            <i><p style="margin-bottom: 5px; margin-top: 0px">{{ page.description }}</p></i>
            <p style="margin-bottom: 0px; margin-top: 0px">Timespan: {{ page.timespan }}</p>
            <p style="margin-bottom: 5px; margin-top: 0px">Published: {{page.date}}</p>

            <hr>
        {{ page.html|safe }}
            </div>
        <div class="col-lg-2"></div>
        <p style="line-height:300%;">&nbsp;</p>
</div>
{% endblock %}

