{% extends "base.html" %}

{% block meta_content %}
    <meta name="author" content="Andy Kong">
    <meta name="title" content="{{ page.title }}">
    <meta name="description" content="{{ page.description }}">

<title> {{page.title}} | Andy Kong</title>

<style>
    .projectpage h1, .projectpage h2{
        color: #E0B890;
    }

    .projectpage img{
        max-width: 100%;
        max-height: 50vh;
        height: auto;
        width: auto;
        border-radius: 0;
    }
</style>
{% endblock %}


{% block app_content %}

<div class="overflow-hidden" style = "height:100vh; width: 100vw; padding: 0px 1em 0px 1em;">
        <div class="projectpage" style="max-width:50em; margin-bottom:4em; margin-left:auto; margin-right:auto;">
            <h1 style="margin-bottom: 5px">{{ page.title }}</h1>
                <i><p style="margin-bottom: 5px; margin-top: 0px">{{ page.description }}</p></i>
                <p style="margin-bottom: 0px; margin-top: 0px">Timespan: {{ page.timespan }}</p>
                <p style="margin-bottom: 5px; margin-top: 0px">Published: {{page.date}}</p>

                <hr>
            {{ page.html|safe }}
        </div>
        <p style="line-height:300%;">&nbsp;</p>
</div>
{% endblock %}

